
<div class="row" >
  <div class="col-2" >
    <div class="sidenav">
      <a href="/home"><h2>MyTune</h2></a>
      <a href="/home">Home</a>
      <a href="/like">Preferiti</a>
      <div class="btn-group dropend">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Playlist
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/playlist/watch">Watch</a></li>
          <li><a class="dropdown-item" href="/playlist/add">Add</a></li>
          
        </ul>
      </div>
      <div *ngIf="username != null; else elseBlockbar">
        <a href="/user">Profilo</a>
      </div>
      <ng-template #elseBlockbar>
        <a href="/login">Profilo</a>
      </ng-template>
    </div>
  </div>
    <div class="col-6" >
        <input id="box" #box (keyup)="onKeySearch($event)" class="form-control mt-3" >
        <p *ngIf="loading">LOADING...</p>
    </div>
    <div class="col-1 mt-3">
      <select class='select-option form-select' 
          #mySelect
          (change)='onOptionsSelected(mySelect.value)'>
        <option class='option' 
          *ngFor='let option of dropdown' 
          [value]="option.val">{{option.text_val}}
        </option>
      </select>
    </div>  
    <div class="col-1">

    </div>
    <div class="col-2  mr-3 mt-3">
        <div class="" *ngIf="username != null; else elseBlock">
          <a href="/user"><img src="/assets/images/user.png" alt="user" style="width: 10vh;"></a>
        </div>
        <ng-template #elseBlock>
          <a href="/register"><button type="button" class="btn btn-secondary">Registrati</button></a>
        
          <a href="/login"><button type="button" class="btn btn-secondary" style="margin-left: 3px; ">Accedi</button></a>
      
        </ng-template>
    </div>    
</div>

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
      <div>
        <table *ngIf="!loading && albums.length >= 1 && selected == 'all' || selected == 'albums'" class="table ">
            <thead>
              <th>Album</th>

            </thead>
            <tbody>        
              <tr *ngFor="let s of albums">
                <td>
                    <a href="/album/{{s.id}}"><b>{{s.name}} </b></a> <br> 
                    <a href="/artist/{{s.artist_id}}" style="font-size: small;">{{s.artist}}</a>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table *ngIf="!loading && albums.length >= 1 && selected == 'all' || selected == 'artists'" class="table">
            <thead>
              <th>Artisti</th>

            </thead>
            <tbody>
              <tr *ngFor="let s of artists">
                <td><a href="/artist/{{s.id}}"> <b>{{s.name}}</b></a> <br> 
                <a href="/genre/s.genre" style="font-size: small;">{{s.genre}}</a>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table *ngIf="!loading && albums.length >= 1 && selected == 'all' || selected == 'tracks'" class="table">
            <thead>
              <th>Tracce</th>

            </thead>
            <tbody>
              <tr>
                <th>#</th>
                <th>TITOLO</th>
                <th>ALBUM</th>
              </tr>
              
                <tr *ngFor="let s of tracks; let i = index">
                  
                  <td>
                    {{i}}
                  </td>
                  <td class="col-md-3">
                      <a href="/track/{{s.id}}"><b>{{s.name}}</b></a><br>
                      
                      <a href="/artist/{{s.id_a}}" style="font-size:small;">{{s.nome_a}}</a><br>
                  </td>
                  <td class="5">
                    <a href="/album/{{s.album_id}}" style="vertical-align: center;">{{s.album}}</a>
                  </td>
                  <td class="col-md-1">
                    <form #like_f = "ngForm" (ngSubmit) = "like(s.id)" *ngIf="is_logged">
                      <input type="submit" value="♡">
                    </form>
                  </td>
                  <td class="col-md-1">
                    
                      <select class='select-option form-select'
                      #mySelect2
                      (change)='onOptionsSelected2(mySelect2.value,s.id)'>
                      <option class="option" value="" selected>+</option>
                      <option class='option'
                          *ngFor='let p of playlists' 
                          [value]="p.id">{{p.name}}
                      </option>
                      </select>

                  </td>
                  
                  <td class="col-2">
                  <audio id="audio" src="{{s.preview_url}}" controls></audio>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table *ngIf="!loading && albums.length >= 1 && selected == 'all' || selected == 'genres'" class="table">
            <thead>
              <th>Generi</th>

            </thead>
            <tbody>
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3" *ngFor="let s of genres" onmouseover="">
                        <a href="/genre/{{s.id}}">
                          <div class="card" style="width: 16rem;">
                            <div class="card-body">
                              <h5 class="card-title">{{s.id}}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{s.id}}</h6>
                            </div>                
                          </div>
                        </a>
                    </div>
     
                </div>
                
            
            </tbody>
        </table>
    </div>
    </div>
</div>

<router-outlet></router-outlet>


