<p>Traccia: {{track_n}}</p>
<audio id="audio" src="{{track_n.preview_url}}" controls></audio>

<p>Genere: {{track_g}}</p>
<p>Artista: {{track_a}}</p>

<table *ngIf="tracks.length >= 1" class="table">
    <thead>
    </thead>
    <tbody>
    <th>TRACCE DELLO STESSO ALBUM</th>
      <tr *ngFor="let s of tracks">
        <td>
            <a href="/track/{{s.id}}"><b>{{s.name}}</b></a><br>
        </td>
        <td class="col-md-2">
          <audio id="audio" src="{{s.preview_url}}" controls></audio>
        </td>
      </tr>
    </tbody>
</table>