
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <!-- Pills navs -->
            <h1 class="text-center mb-3">Login</h1>
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="/login" role="tab"
                    aria-controls="pills-login" aria-selected="true">Accedi</a>
                </li>
                <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="/register" role="tab"
                    aria-controls="pills-register" aria-selected="false">Registrati</a>
                </li>
            </ul>
            <!-- Pills navs -->
            
            <!-- Pills content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
                    
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input #box type="text" class="form-control" id="email"  placeholder="Inserisci l'email" name="email" required ngModel>
                    </div>
            
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input #box2  type="password" class="form-control" id="password"  placeholder="Inserisci la password" name="password" required ngModel>
                    </div>
            

            
                    <!-- Submit button -->
                    <input type = "submit" value = "submit"  class="btn btn-primary btn-block mb-4" value="Accedi">
            
                    <!-- Register buttons -->

                </form>
                </div>
                <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">

            </div>
        </div>
        <!-- Pills content -->
        </div>
        
    </div>
</div>

